div.container{
    margin: 0;
    padding: 0;
    background-color: #1D3D6C;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
    div.main_body{
        height: 100vh;
        width: 62.5vw;
        margin: auto;
        display: flex;
        div.personal_info{
            margin:auto;
            width: 40%;
            .pic{
                width: 80%;
                margin: auto;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            div.contact{
                margin-top: 30px;
                display: flex;
                gap: 30px;
                justify-content: center;
                a{
                    color: #fff;
                    text-decoration: none;
                    i{
                        font-size: 25px;
                    }
                }
                i{
                    font-size: 25px;
                }
            }
            a.resume{
                display: block;
                width: 38%;
                padding: 5%;
                margin: 30px auto 0;
                background-color: #fff;
                font-size: 18px;
                text-align: center;
                letter-spacing: 2px;
                text-decoration: none;
                color: #1D3D6C;
                font-weight: bold;
                border-radius: 20px;
                i{
                    margin-left:12px;
                }
            }
        }
        div.right_info{
            width: 40%;
            margin: auto;
            h2{
                font-size: 32px;
                margin: 0;
            }
            p{
                font-size: 16px;
                margin-top: 20px;
                letter-spacing: 2px;
                line-height: 30px;
                font-weight: bold;
            }
        }
    }
}